.notecenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    padding: 20px;
    padding-bottom: 15px;
}

.notesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.filtersearch {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F4F4F4;
    color: #1E2019;
    border: 1px solid #1E2019;
    margin-bottom: 15px;
}





